.insert {
    width: 80%;
}

form>div,
form>button {
    margin: 16px auto;
}

.div__btn {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

form label {
    font-weight: bold;
}

.insert input,
.insert textarea {
    border-radius: 20px;
    border: 2px solid #ccc;
    line-height: 32px;
    outline: none;
    font-size: 1.6rem;
    padding: auto 16px;
}

.btn-primary {
    flex-basis: 30%;
    padding: 1% 10%;
    margin-top: 16px;
}